.card__description {
  padding-block-start: $spacing-small;
  padding-block-end: $spacing-extrasmall;

  @include tablet {
    padding-block-end: $spacing-extrasmall;
  }

  @include desktop {
    padding-block-end: $spacing-extrasmall;
  }
}
