.card__description {
  padding-block-start: $spacing-small;
  padding-block-end: $spacing-extrasmall;

  @include tablet {
    .card__description {
      padding-block-end: $spacing-large;
    }
  }

  @include desktop {
    .card__description {
      padding-block-end: $spacing-large;
    }
  }
}
