@mixin common-main-styles {
  display: grid;
  padding: $spacing-xxxlarge $spacing-xxxlarge;
  gap: $spacing-regular $spacing-medium;
}

/**
* Media queries
*/

@mixin desktop {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @content;
  }
}
