// Colors
$color-white-100: hsl(0, 0, 100%);
$color-white-100-50: hsla(0, 0, 100%, 0.5);
$color-white-200: hsl(210, 46%, 95%);
$color-white-300: hsl(210, 46%, 95%);
$color-grey-100: hsl(0, 0, 59%);
$color-grey-200: hsl(0, 0, 81%);
$color-purple: hsl(263, 55%, 52%);
$color-blue: hsl(217, 19%, 35%);
$color-blue-24: hsla(217, 19%, 35%, 24.7%);
$color-black: hsl(219, 29%, 14%);

// Define spacing variables
$spacing-240: 2.4rem;
$spacing-300: 3rem;
$spacing-1600: 16rem;

// Media queries
$breakpoint-mobile: 600px;
$breakpoint-tablet: 1024px;
