@use "./card/card.scss";
@use "./card/avatar/card__avatar.scss";
@use "./card/quoted/card--quoted.scss";
@use "./card/header/card__header.scss";
@use "./card/decription/card__description.scss";
@use "./card/theme/card--theme.scss";

main {
  display: flex;
  flex-direction: column;
  gap: $spacing-regular;
  background-color: $color-white-300;
  padding: $spacing-xlarge-plus $spacing-regular;

  @include tablet {
    @include common-main-styles;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }

  @include desktop {
    @include common-main-styles;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }
}
